/**
 *
 * {{ properCase name }}
 */
// @flow

// Node_Module imports
import React, { PureComponent } from 'react';

// Relative imports
import './styles.scss'
import type { Props } from './types';

class {{ properCase name }} extends PureComponent<Props> {
  static defaultProps = {};
  render() {
    const {className} = this.props;
    return <div className={className}/>;
  }
}

export default styled({{ properCase name }})`
  ${styles}
`;

export { {{ properCase name }} };
